/**
 * Admin CSS for the Plugin
 *since  1.0.0
 */

 
 /* Sidebar & main panel */
.fnehd-main-panel {
	font-family: "Segoe UI", jost, Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    width: calc(100% - 200px);
    padding: 15px 15px 30px 15px;
}
.sidebar .sidebar-wrapper,
.sidebar {
    width: 215px;
}

.sidebar[data-background-color="default"] {
    background: #e4e8ef;
}

.dark-edition .sidebar[data-background-color="default"] {
    background: #131d33;
}

.folded .sidebar {
    position: fixed;
    top: 3%;
    bottom: 0px;
    left: auto;
    max-height: 100%;
}

.sidebar[data-color="azure"] li.active > a {
    background: linear-gradient(195deg, #1a73e8, #1a73e8) !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    border-radius: 0.375rem !important;
	color: white !important;
}
.sidebar[data-color="azure"] li.active > a i {
	color: white !important;
}

.sidebar .nav li:hover > a {
    border-radius: 0.375rem;
}

.sidebar-mini .sidebar {
    z-index: 99;
}

/** Navbar Styles**/
.folded .navbar.navbar-absolute {
    width: 100%;
}

.navbar.navbar-transparent {
    background-color: #e4e8ef !important;
    box-shadow: none;
    z-index: 100;
}

.dark-edition .navbar.navbar-transparent {
    background-color: #131d33 !important;
}

/** Footer Styles**/

.footer .copyright a {
    color: #913f9e;
}

.dark-edition .footer .copyright a {
    color: #ffffff;
}

.footer {
    background-color: #e4e8ef;
    width: 100%;
    left: -5px;
    right: auto;
    position: relative;
    margin-top: 5%;
    z-index: 100;
}

.dark-edition .footer {
    background-color: #131d33;
    z-index: 1000;
}

.dark-edition .footer .copyright,
.dark-edition .footer ul li a {
    color: #a9afbbd1;
}
 
 /* User Dasboard Styles 
---------------------*/
  
.fnehd-user-dashboard hr {
  border-top: 1px solid rgba(104, 134, 139, 0.09);
}
.fnehd-user-dashboard .gray-bg {
	background-color: #f5f5f5;
}
.fnehd-user-dashboard img {
	max-width: 100%;
}
.fnehd-user-dashboard img {
	vertical-align: middle;
	border: 4px solid silver;
	border-radius: 25px;
}

.fnehd-user-dashboard .about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

.fnehd-user-dashboard .about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

.fnehd-user-dashboard .about-text p {
  font-size: 15px;
  max-width: 98%;
}
.fnehd-user-dashboard .about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.fnehd-user-dashboard .about-list {
  padding-top: 10px;
}
.fnehd-user-dashboard .about-list .media {
  padding: 5px 0;
}
.fnehd-user-dashboard .about-list label {
  color: #20247b;
  font-weight: 600;
  width: 95px;
  margin: 0;
  position: relative;
}

.fnehd-user-dashboard .fnehd-label {
  color: #20247b;
}

.fnehd-user-dashboard .about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.fnehd-user-dashboard .about-list p {
  margin: 0;
  font-size: 15px;
}

.fnehd-user-dashboard .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.fnehd-user-dashboard .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.fnehd-user-dashboard .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.fnehd-user-dashboard .counter p {
  font-weight: 600;
  margin: 0;
}
/*User Dashboard End*/

/*Buttons*/
.btn {
  text-transform: capitalize;
}
.fnehd-btn-dark {
    background: #1d1e2073;
}
.btn-link {
    padding: 0 10px 0 0;
}
.btn-secondary {
    background-color: #7b809a;
    border-color: #7b809a;
}
.btn.btn-outline-secondary:hover,
.btn.btn-outline-secondary:focus {
    color: #a9a9a9;
    background-color: hsla(0, 15.6%, 87.5%, 0.09);
    border-color: #7e7c7c;
}
.btn.btn-outline-secondary {
    color: #a5b8bc;
}
.fnehd-close-btn {
    border: 3px solid !important;
    border-radius: 50% !important;
    padding: 0 7px 5px 7px !important;
}

.fnehd-btn-sm {
    padding: 3px 12px;
}
.fnehd-btn-primary {
  color: #fff;
  background-color: #2271b1;
  box-shadow: 0 2px 2px 0 rgba(156,39,176,.14),0 3px 1px -2px rgba(39, 93, 176, 0.2),0 1px 5px 0 rgba(156,39,176,.12);
}

.fnehd-btn-behance {
  color: #fff;
  background-color: #2271b1;
  box-shadow: 0 2px 2px 0 rgba(23,105,255,.14),0 3px 1px -2px rgba(23,105,255,.2),0 1px 5px 0 rgba(23,105,255,.12);
}

.btn.fnehd-btn-white {
  color: #686969;
  background-color: transparent;
}
.dark-edition .btn.fnehd-btn-white {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.fnehd-top-nav-item:hover,
.btn.fnehd-btn-white:hover,
.btn.fnehd-btn-white:focus  {
  color: #2271b1 !important;
  border: 1px solid #2271b1;
}
.dark-edition .btn.fnehd-btn-white:hover,
.dark-edition .btn.fnehd-btn-white:focus  {
  color: #fff;
}

.dark-edition .dropdown-menu {
  background-color: #131d33;
  box-shadow: none;
  border: 1px solid #fff;
}
.dark-edition .dropdown-item {
  color: #fff;
} 
/*Buttons End*/

.fnehd-front-only{
	display: none !important;
}

.fnehd-st-graphic {
	z-index: 0;
	background-color: #E6F4F9;
}

.fnehd-st-graphic .top {
	padding-top: 40px;
	padding-left: 13%;
	padding-right: 13%;
}

#fnehd-progress-bar {
	margin-bottom: 30px;
	overflow: hidden;
	color: #455A64;
	padding-left: 0px;
	margin-top: 30px;
} 

#fnehd-progress-bar li {
	list-style-type: none;
	font-size: 13px;
	width: 25%;
	float: left;
	position: relative;
	font-weight: 400;
	margin-top: auto;
}

#fnehd-progress-bar .step0:before {
	font-family: FontAwesome;
	content: "\f10c";
	color: #fff;
}

#fnehd-progress-bar li:before {
	width: 40px;
	height: 40px;
	line-height: 45px;
	display: block;
	font-size: 20px;
	background: #C5CAE9;
	border-radius: 50%;
	margin-top: -15px;
	margin: auto;
	padding: 0px;
	position: relative;
}

/*ProgressBar connectors*/
#fnehd-progress-bar li:after {
	content: '';
	width: 100%;
	height: 12px;
	background: #C5CAE9;
	position: absolute;
	left: 0;
	top: 16px;
	z-index: -1;
}

#fnehd-progress-bar li:last-child:after {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	left: -50%;
}

#fnehd-progress-bar li:nth-child(2):after, #fnehd-progress-bar li:nth-child(3):after {
	left: -50%;
}

#fnehd-progress-bar li:first-child:after {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	left: 50%;
}

#fnehd-progress-bar li:last-child:after {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#fnehd-progress-bar li:first-child:after {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#fnehd-progress-bar li.active:before, #fnehd-progress-bar li.active:after {
	background: #9c27b0;
}

#fnehd-progress-bar li.active:before {
	font-family: FontAwesome;
	content: "\f00c";
}

.fnehd-st-graphic .icon {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

.fnehd-st-graphic .icon-content { 
	padding-bottom: 20px;
}
 
.fnehd-st-graphic .shelter-detail {
	padding:3rem 0
}

.fnehd-st-graphic #tracking {
	margin-bottom:1rem
}
[class*=shelter-status-] p {
	margin:0;
	font-size:1.1rem;
	color:#fff;
	text-transform:uppercase;
	text-align:center
}
[class*=shelter-status-] {
	padding:1.6rem 0
}

.fnehd-shelter-item {
	border-left:1px solid #e5e5e5;
	position:relative;
	padding:2rem 1.5rem .5rem 2.5rem;
	font-size:.9rem;
	margin-left:3rem;
	min-height:5rem
}
.fnehd-shelter-item:last-child {
	padding-bottom:4rem
}
.fnehd-shelter-item .shelter-date {
	margin-bottom:.5rem
}
.fnehd-shelter-item .shelter-date span {
	color:#888;
	font-size:85%;
	padding-left:.4rem
}
.fnehd-shelter-item .shelter-content {
	padding:.5rem .8rem;
	background-color:#f4f4f4;
	border-radius:.5rem
}
.fnehd-shelter-item .shelter-content span {
	display:block;
	color:#888;
	font-size:85%
}
.fnehd-shelter-item .shelter-icon {
	line-height:2.6rem;
	position:absolute;
	left:-1.3rem;
	width:2.6rem;
	height:2.6rem;
	text-align:center;
	border-radius:50%;
	font-size:1.1rem;
	background-color: #d5d8e7ad;
	color:#fff
}
	
	

.sidebar[data-background-color="default"] .nav .nav-item i {
    color: hsla(196.1, 24.8%, 32.4%, 0.8);
}


.sidebar .nav li:hover > a {
  background-color: #0000006b; 
}

.dark-edition .sidebar .nav li:hover > a {
   background-color: hsla(0,0%,78%,.2); 
} 

.sidebar[data-background-color="default"] .nav .nav-item .nav-link {
    color: #434343;
}

.dark-edition .sidebar[data-background-color="default"] .nav .nav-item i {
    color: #fff !important;
}
.dark-edition
    .sidebar[data-background-color="default"]
    .nav
    .nav-item
    .nav-link {
    color: #fff;
}

.border {
    border: 1px solid #c5cacf !important;
}

.dark-edition .border {
    border: 1px solid #8096ad !important;
}



.breadcrumb {
    margin-left: 0px !important;
    background-color: transparent;
    border-radius: 5rem;
    border: 1px #b2cae0 solid;
}

.dark-edition .breadcrumb {
    background-color: #2d557c36;
    border: none;
}

.fnehd-search-input {
    background-image: none !important;
    border: none !important;
	box-shadow: none;
}


.notif-content .dropdown-item {
    color: #505254 !important;
}

.dark-edition .notif-content .dropdown-item {
    color: #adc3d7 !important;
}

.dark-edition .navbar .navbar-nav .dropdown-menu-right {
    color: white !important;
    border: 1px solid;
    background: #08132b;
}

.navbar .navbar-nav .dropdown-menu-right {
    transform-origin: 100% 0;
    background: #fff;
    color: #434343 !important;
    border: nobe;
    border-radius: 20px;
    padding-top: 10px;
}

.timeline a {
    color: #390042 !important;
}
.fnehd-img-avatar {
    border-radius: 50% !important;
}
.fnehd-img-preview {
    width: 270px !important;
    border-radius: 10px !important;
    border: solid 3px #adb7ba;
}
.shelter-detail {
    padding: 3rem 0;
}

#tracking {
    margin-bottom: 1rem;
}

[class*="shelter-status-"] p {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

[class*="shelter-status-"] {
    padding: 1.6rem 0;
}

.fnehd-shelter-item {
    border-left: 1px solid #e5e5e5;
    position: relative;
    padding: 2rem 1.5rem 0.5rem 2.5rem;
    font-size: 0.9rem;
    margin-left: 3rem;
    min-height: 5rem;
}
.fnehd-shelter-item:last-child {
    padding-bottom: 4rem;
}
.fnehd-shelter-item .shelter-date {
    margin-bottom: 0.5rem;
}
.fnehd-shelter-item .shelter-date span {
    color: #888;
    font-size: 85%;
    padding-left: 0.4rem;
}
.fnehd-shelter-item .shelter-content {
    padding: 0.5rem 0.8rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
}
.fnehd-shelter-item .shelter-content span {
    display: block;
    color: #888;
    font-size: 85%;
}
.fnehd-shelter-item .shelter-icon {
    line-height: 2.6rem;
    position: absolute;
    left: -1.3rem;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: #fff;
    color: #fff;
}

.timeline > li > .timeline-panel {
    border-radius: 1.5rem;
}

.rounded-img {
    border-radius: 5rem;
}

#bodyWrapper {
    border-top: 1px solid white;
}

.nav-link {
    padding: 0.525rem 0.8rem !important;
}

/*Headings*/
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
    letter-spacing: -0.05rem;
}
.h1,
.h2,
.h3,
.h4 h1,
h2,
h3,
h4 {
    font-weight: 600 !important;
}

.h3,
h3 {
    font-size: 1.875rem;
    line-height: 1.375;
}


h3 {
    color: #007f7f !important;
}

hr.horizontal.dark {
    background-color: #7b809a33;
}

.card-icon {
    font-size: 1.2rem;
}

.fnehd-nav-icon {
    font-size: 1rem !important;
}


/*DataTables*/
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #657083 !important;
    border-radius: 7px !important;
    padding: 3px 5px !important;
}

.table > :not(caption) > * > * {
    padding: 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.fnehd-data-table{
	width: 100%;
}

div.dt-container .dt-input {
  right: 5px;
  position: relative;
}


/*Admin Forms*/
.dark-edition .fnehd-admin-forms {
    background: #131d33 !important;
}

.fnehd-admin-forms {
    background: #fff !important;
    padding: 30px 5%;
}

/*Order Forms Modal dialog*/
.shelter-modal-dialog {
    max-width: 70% !important;
    margin: 3rem auto;
}

.modal-content .card-body {
    color: #8a8d95 !important;
}

/*Table Styles*/
#fnehd-settings-panel .fnehd-th,
#fnehd-settings-panel .fnehd-td {
    padding: 5px;
    border: solid #202f4a 1px !important;
}

.shelter-note-avatar {
    border-radius: 50%;
    border: solid 2px silver;
}


.dark-edition ::placeholder {
    color: #4d4d4d !important;
}
#fnehd-options-form .card {
	min-width: auto;
	border-radius: 0px;
	background: #fefeff24;
}

.dark-edition #fnehd-options-form .card {
	background: #131d33;
}

#fnehd-options-form .col-md-4{
    max-width: 31.4% !important;
    flex: 0 0 31.4%;
    padding: 10px 0px 5px 0px;
}

#fnehd-options-form .col-md-6{
    max-width: 47.5% !important;
    flex: 0 0 47.5%;
    padding: 10px 0px 5px 0px;
}

#fnehd-options-form .col-md-12 {
    max-width: 96% !important;
    padding: 15px 0px;
}

#fnehd-options-form .col-md-4,
#fnehd-options-form .col-md-6,
#fnehd-options-form .col-md-12 {
    margin: 5px;
}


#progressAjax {
    width: 25%;
    height: 25px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 30px;
}

.progress-bar {
    background-color: green;
    width: 0%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.percent {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    top: 42.6%;
    left: 50%;
    margin: auto;
    margin-left: -20px;
    -webkit-border-radius: 4px;
}

#fnehd-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999999999999;
    text-align: center;
    padding-top: 20%;
}

.table td,
.table th {
    padding: 0.5em 0.75em;
}

.modal {
    overflow-y: auto;
}

.card-stats .card-header .card-header-icon i {
    font-size: 1.35rem;
    line-height: normal;
    width: 36px;
    height: 36px;
    text-align: center;
}

.card {
    min-width: 100%;
    border-radius: none;
    box-shadow: -9.962px -0.872px 70px 0px rgba(122, 122, 122, 0.2) !important;
	border: none;
}

.dark-edition .card {
   box-shadow: -9.962px -0.872px 70px 0px rgba(0, 0, 0, 0.2) !important;
}

.card [class*="card-header-"] .card-icon {
    border-radius: 50%;
}

.card .card-header.card-header-icon .card-title {
    color: #8b92a9 !important;
}

.card .card-header.card-header-info .card-icon {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0),0 7px 10px -5px rgba(0, 0, 0, 0.4);
  background: #6183a4;
}

.dark-edition .card .card-header.card-header-info .card-icon {
  background: #36536f;
}

/**Table Numbering**/
.fnehd-table-numbering {
    counter-reset: rowNumber;
}
.fnehd-table-numbering tr > td:first-child {
    counter-increment: rowNumber;
}
.fnehd-table-numbering tr td:first-child::before {
    content: counter(rowNumber) "\002E";
    min-width: 1em;
    margin-right: 0.5em;
}

/* toggle select styles start*/
.togglebutton label .toggle::after {
    width: 0.7rem;
    height: 0.7rem;
    left: 35px;
    top: -2.5px;
}

.togglebutton label input[type="checkbox"]:checked + .toggle::after {
    left: 0.3rem;
	border-color: #2271b1;
}

.togglebutton label input[type="checkbox"]:checked + .toggle {
	background-color: #2271b1;
}


.togglebutton label input[type="checkbox"][disabled] + .toggle {
    width: 4rem;
	height: 1.5rem;
    background-color: rgba(80, 80, 80, 0.7);
}

.togglebutton label .toggle {
    text-align: left;
    margin-left: -20px;
	padding: 5px 3px 25px 5px;
	width: 4rem;
	height: 1.5rem;
}

.toggleOn {
    margin: -0.5% 14% 0 4.5%;
    position: absolute;
    color: white;
    font-size: 80%;
    font-weight: 400;
}
.toggleOff {
    margin: -0.5% 14% 0 1%;
    position: absolute;
    color: #e8e1e1;
    font-size: 80%;
    font-weight: 400;
}

.card [class*="card-header-"] .card-icon,
.card [class*="card-header-"] .card-text {
    margin-right: 0.65rem;
}

/** Forms **/
.dark-edition .form-control {
    color: #fff;
}
.form-control {
    color: #434343;
}

.form-control:focus {
  color: #434343;
} 

.dark-edition .form-control:focus {
  color: #fff;
} 


.modal .form-control {
    color: #383838;
    background-color: #fff;
	padding: 10px;
}

.dark-edition .modal .form-control {
    color: #fff;
    background-color: #08132b;
}

.dark-edition .choices__inner {
  background-color: #0f1729;
  border: 1px solid #3a3d43;
}

.dark-edition .choices__list--dropdown {
  background-color: #0f1729;
}

/** Notification panel**/
.noty-small {
    color: #8b92a9;
}
.noty-small:hover {
    color: #fff;
}
.noty:hover {
    color: #fff !important;
}

/** Blur class **/
.blur {
    -webkit-filter: blur(5px);
    color: transparent;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

/** No records found Text **/
.dark-edition .mt-5 {
    color: #fff !important;
}
.mt-5 {
    color: #434343 !important;
}

/**Theme toggler PC **/
.toggle-pc {
    padding-top: 0 !important;
    margin-left: -130px !important;
    position: absolute !important;
    margin-top: -5px !important;
}

/** Dashboard Tables and Stats**/
.fnehd-stats-text {
    color: #434343 !important;
}

.dark-edition .fnehd-stats-text {
    color: #fff !important;
}

.dark-edition .table > .tbl-head > tr > th {
    background-color: #131d33 !important;
    border-top: #2271b1 solid 1px !important;
	border-bottom: #2271b1 solid 1px !important;
}

.table > .tbl-head > tr > th {
    background-color: #fff !important;
	border-top: #2271b1 solid 1px !important;
	border-bottom: #2271b1 solid 1px !important;
}

.modal .table > tbody > tr > td {
    color: #434343;
    border-color: #cad7d8;
    vertical-align: middle;
}

.dark-edition .modal .table > tbody > tr > td {
    color: #8b92a9;
    border-color: hsla(0, 0%, 71%, 0.1);
}

.dark-edition .card-stats .card-header .card-category:not([class*="text-"]) {
    color: #a9afbbd1;
}

.dark-edition .card .card-body + .card-footer .stats,
.dark-edition .card .card-footer .stats {
    color: #a9afbbd1;
}

.card-stats .card-header .card-category:not([class*="text-"]) {
    color: #464444;
}

.card .card-body + .card-footer .stats,
.card .card-footer .stats {
    color: #464444;
}

.card .card-body {
    padding: 0;
}

.folded .card .card-body {
    padding: 0.9375rem 1.25rem;
}

.nav-pills {
    padding: 0;
}

.dark-edition .table {
    color: #8b92a9 !important;
}

.table {
    color: #313131d !important;
}

.dark-edition .card .card-header .card-header-icon .card-title {
    color: #8b92a9;
}

.card .card-header .card-header-icon .card-title {
    color: #464343;
    font-weight: bold;
}

/** Small Modal content**/
.fnehd-modal-sm {
    width: 58% !important;
    margin: auto !important;
}

.dark-edition .fnehd-th {
    color: #2271b1 !important;
}

.fnehd-th {
    color: #464343 !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px !important;
}

.fnehd-th-sm {
    font-size: 10px !important;
}

.text-light {
    color: #434343 !important;
}

.fnehd-text-info {
    color: #2271b1 !important;
}

.modal-dialog .text-light {
    color: #464343 !important;
}

.dark-edition .modal-dialog .text-light {
    color: #fff !important;
}

.dark-edition .modal-dialog .text-dark {
    color: #989ca0 !important;
}

.dark-edition .text-light {
    color: #fff !important;
}

.dark-edition .text-dark {
    color: #fff !important;
}

.text-dark {
    color: #686969 !important;
}

.nav .active .text-light {
    color: #fff !important;
}

/** panel tabs button**/
.nav-pills {
    width: 100% !important;
    margin: auto !important;
    border-radius: 1rem !important;
}

.nav-pills .nav-link {
    border-radius: 1rem;
}

.nav-pills .nav-item .nav-link.active {
  color: #2271b1;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(39, 60, 176, 0.4);
  background-color: transparent !important;
  border: 1px solid #2271b1;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-bottom: none;
} 

.card-wizard[data-color="purple"] .moving-tab {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
        0 7px 10px -5px rgba(156, 39, 176, 0.4);
    width: 50% !important;
    border-radius: 30px;
}


.fileinput .thumbnail {
    color: white;
}

.dropdown-menu .dropdown-item,
.dropdown-menu li > a {
    border-radius: 1.125rem;
}


.dropdown-menu a:hover {
  box-shadow: none;
  color: #2271b1 !important;
  border: 1px solid #2271b1;
  background: transparent;
  border-radius: 0px;
}


.dark-edition .fnehd-tbl-header {
    color: white !important;
}

.fnehd-tbl-header {
    color: #686969 !important;
    text-transform: capitalize;
}

span.title {
    font-weight: bold;
    font-size: 16px;
}

/* Info Popper Styles*/
a.infopop {
    vertical-align: bottom;
    position: relative; /* Anything but static */
    width: 1.5em;
    height: 1.5em;
    text-indent: -9999em;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
    background-color: #91b2d2;
    margin-left: 0.25em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    margin-top: 0.35rem !important;
}

a.infopop:hover {
    background-color: #628cb6;
    cursor: hand;
    cursor: pointer;
}

a.infopop:before {
    content: "?";
    position: absolute;
    top: 0.25em;
    left: 0;
    text-indent: 0;
    display: block;
    width: 1.5em;
    text-align: center;
}

.popover-title {
    font-weight: bold;
}

label a.infopop,
label div.popover.fade.in {
    opacity: 0.6;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

label:hover a.infopop,
label:hover div.popover.fade.in {
    opacity: 1;
}

.popover-header {
    color: black !important;
    background: #f9d1f1;
}

#toggleSmtpPass,
#toggleCpanelPass {
    margin: -5% 0 0 90%;
    position: absolute !important;
    cursor: pointer;
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 85px !important;
}

/** Settings Panel Modal Content styles  **/
.setContent {
    max-width: 100% !important;
    padding-left: 3% !important;
    margin: 2rem auto !important;
    border: none !important;
    border-radius: 20px !important;
}

.sett-icon {
    color: #06accd !important;
}

.dark-edition .tbl-icon {
    color: #1a73e8 !important;
}

.tbl-icon {
    color: #2271b1 !important;
}

.card .card-header-primary .card-icon {
  background: #2271b1 !important;
}

/**General Modal Content styles  **/
.modal-content {
    border: #fff 2px solid !important;
    border-radius: none !important;
    background-color: #ffffffd1;
    padding: 10px 55px;
}

.dark-edition .modal-content {
    border: #02a5d9 2px solid !important;
    background-color: #08132b;
}

.dark-edition {
    color: white !important;
}

.light-edition {
    color: #434343 !important;
}

form .form-group .form-control, 
#fnehd-options-form .form-control {
    position: relative !important;
    top: 0 !important;
    width: 100% !important;
	padding: 5px 15px;
	background-color: #e5e5e559;
	border: 1px solid #8080806e;
	border-radius: 5px;
	background-image: none !important;
	height: 45px;
}

.dark-edition form .form-group .form-control,
.dark-edition #fnehd-options-form .form-control {
    background-color: #10182a !important;
}

.form-group {
    padding-bottom: 15px !important;
    padding-top: 10px !important;
}

.dark-edition label {
    color: cyan !important;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #686969 !important;
    font-size: 16px !important;
}

.col-md-3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.text-muted {
    color: #8b92a9 !important;
}

table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc {
    padding-right: 20px !important;
    width: auto !important;
}

/* add and edit user form, user-image Styles */
.imagepreview {
    border-radius: 50%;
    border: 2px solid;
}

.profile-image-modal {
    border-radius: 50%;
    border: 5px solid #1a73e8;
    margin-left: 17%;
    margin-right: auto;
    margin-top: 16%;
}

.profile-image-profile {
    border-radius: 50%;
    border: 5px solid silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    width: 150px;
    height: 150px;
}

.fnehd_profile_box_img {
    padding-bottom: 50px;
}

.navbar.bg-dark {
    color: #fff;
    background-color: #131d3300 !important;
    padding: 5px 0;
    border: none;
    border-radius: 30px;
    width: 100%;
    box-shadow: none;
    margin-top: 5%;
}

.folded .navbar.bg-dark {
    width: 95%;
}

.fnehd-top-nav-item {
    background: #fff;
    margin-right: 5px;
    border: none;
    border-radius: 0px;
    padding: 0px !important;
}

.dark-edition .fnehd-top-nav-item {
    background: #223663;
    border: none;
}

/* dataTable view tracking, profile image Styles */
.profile-pic-back {
    background-color: #1a2035;
    height: 130px;
    width: 130px;
    margin: -9% 0 10% 82% !important;
    position: absolute;
    border-radius: 100%;
    border: 4px white solid;
}

#fnehd-stat-top-payers-chart, #fnehd-stat-top-earners-chart {
    height: 330px;
    width: 100%;
    background-color: #fff;
}

.dark-edition #fnehd-stat-top-payers-chart, .dark-edition #fnehd-stat-top-earners-chart {
    background-color: #131d33;
}

/* Admin sidebar logo */
.sidebar .logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 35px;
    text-align: left;
    margin-left: 30px;
    margin-right: 5px;
}

.track-results-pc {
    display: block;
}

.fnehd-track-results-mobile {
    display: none;
}

/*select action tracking table*/
.fnehd-tbl-action-btn {
    margin: -5.4% 0 0 14%;
    padding: 4px 10px !important;
}

.fnehd-selected {
    margin: -2.3% 0 0 1%;
    position: absolute;
}

.fnehd-selected2 {
    margin: -2% 0 0 2%;
    position: absolute;
}

.dark-edition .fnehd-selected {
    color: white !important;
}

/* DataTable show entery styles*/
.md-form-group.md-form-group-sm .form-control {
    background-color: #eaedf2 !important;
    color: #434343 !important;
}

.dark-edition .md-form-group.md-form-group-sm .form-control {
    background-color: #131d33 !important;
    color: #fff !important;
}

/* Distable datatable soorting icon on first column header */
.dataTable > thead > tr > th:first-child[class*="sort"]:before,
.dataTable > thead > tr > th:first-child[class*="sort"]:after {
    content: "" !important;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: #fff;
    background-color: transparent;
    border-bottom: none;
}

.modal-dialog .modal-content {
    border-radius: 2rem;
}

.modal-open .modal {
    background: #010e31f0;
}

.modal {
    color: #686969;
}

.dark-edition .modal {
    color: #989ca0;
}

/*Sweet Alert*/
.swal2-popup {
    border-radius: 0.8em;
    background: #fff;
    color: #464343;
}
.swal2-title {
    color: #464343;
}
.swal2-icon.swal2-warning {
    border-color: #fb8c00;
    color: #fb8c00;
}

.dark-edition .swal2-title {
    color: #fff;
}
.dark-edition .swal2-popup {
    background: #0b1836 !important;
    color: #fff 
}

/** Override default wp styles **/

.notice{
  display: none;
}

.e-notice.notice {/* remove elementor notices*/
  padding: 0;
  display: none;
}

#screen-options-wrap {
    margin: 0 -1% 0 0;
    padding: 2%;
    position: relative;
    z-index: 9999999999;
    float: right;
    width: 87%;
    color: #fff;
}

#screen-meta-links {
    float: right;
    margin: 0 4%;
    z-index: 1044;
    position: relative;
    height: 0;
}

#screen-meta-links .show-settings {
    border: 1px solid #c3c4c7;
    padding: 3px 6px 3px 16px;
    background: transparent;
    border-radius: 25px;
}

#screen-meta-links .screen-meta-toggle {
    position: relative;
    top: 20px;
    right: 450%;
}

.is-dismissible {
    display: none !important;
}

#update-nag,
.update-nag {
    display: none;
}

.form-table th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
    display: none;
}

.folded #wpcontent,
.folded #wpfooter {
    margin-left: 17px;
}

.notice.is-dismissible,
div.error,
div.updated {
    display: none !important;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
    box-shadow: none;
    border-radius: none;
    border: none;
    background-color: transparent;
    color: #2c3338;
}


input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus, a:focus {
  box-shadow: none !important;
}

.folded #wpfooter {
    margin-left: 37px;
}

#wpbody-content {
    padding-bottom: 6px;
    float: left;
    width: 100%;
    overflow: visible;
}


/* Wp Menu unfolded Styles*/

.sidebar {
    position: fixed;
    top: 3%;
    bottom: 0px;
    left: auto;
    max-height: 100%;
    border-top: 8px solid white;
}

#wpcontent {
    margin-left: 141px;
}

#wpfooter {
    background: white;
    margin-left: 160px;
    z-index: 888888;
}

.navbar .collapse .navbar-nav .nav-item .nav-link .fa{
    color: #91b2d2;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
    text-transform: capitalize;
}

.nav-pills .nav-item i {
    color: #91b2d2;
	font-size: 1.3rem;
    padding: .15rem 0;
}

.nav-pills .nav-item .nav-link.active .fa {
    color: #2271b1;
}

/*Invoice styles*/
.fnehd-main-panel .about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

.fnehd-main-panel .about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

.fnehd-main-panel .about-text p {
  font-size: 15px;
  max-width: 98%;
}
.fnehd-main-panel .about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.fnehd-main-panel .about-list {
  padding-top: 10px;
}
.fnehd-main-panel .about-list .media {
  padding: 5px 0;
}
.fnehd-main-panel .about-list label {
  color: #20247b;
  font-weight: 600;
  width: 95px;
  margin: 0;
  position: relative;
}

.fnehd-user-dashboard .fnehd-label {
  color: #20247b;
}

.fnehd-main-panel .about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.fnehd-main-panel .about-list p {
  margin: 0;
  font-size: 15px;
}

#fnehd-milestone-details {
    border: solid 1px #2271b1;
    border-radius: 10px;
    padding: 20px;
}


#fnehd-horizontal-tabs .nav-tabs .nav-item.show .nav-link, 
#fnehd-horizontal-tabs .nav-tabs .nav-link.active {
	background-color: transparent;
	border-color: transparent transparent #2271b1;
	border-bottom: 4px solid !important;
	font-size: 14px;
	font-weight: bold;
}
#fnehd-horizontal-tabs .nav-tabs .nav-link {
	border-bottom: 1px solid;
	color: #2271b1 !important;
	font-size: 14px;
}

#fnehd-horizontal-tabs .nav-tabs .nav-link:hover {
	border-color: transparent transparent #2271b1;
	font-weight: bold;
}


/*************** Media Querries ********************/

@media print {
    /*Print Screen*/

    .noPrint {
        display: none !important;
    }

    header,
    footer,
    aside,
    form,
    … {
        display: none !important;
    }
    article {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    @page {
        margin: 2cm;
    }
}

@media only screen and (max-width: 991px) {
    /*Specific Desktop Styles Start*/

    .sidebar .logo {
        background-color: #e4e8ef;
    }

    .dark-edition .sidebar .logo {
        background-color: #131d33;
    }

    .sidebar .sidebar-wrapper,
    .sidebar {
        width: 260px;
        background-color: #e4e8ef;
    }

    .dark-edition .sidebar .sidebar-wrapper {
        background-color: #131d33;
    }

    .navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon {
        background-color: #464343;
    }

    .dark-edition
        .navbar.navbar-transparent
        .navbar-toggler
        .navbar-toggler-icon {
        background-color: #fff;
    }
}

@media only screen and (min-width: 576px) {
    /*Specific Desktop Styles Start*/

    .modal-dialog {
        max-width: 70% !important;
        margin: 3rem auto;
    }

    .mber-modal-dialog {
        max-width: 70% !important;
        margin: 3rem auto;
    }

    .sett-modal {
        max-width: 75% !important;
        margin: 3rem auto;
    }
}

@media only screen and (max-width: 600px) {
    /*Mobile Styles*/

    .fnehd-img-preview {
        width: 100px !important;
    }
    /** Menu bar**/
    .dark-edition .navbar .fnehd-notification {
        right: -6px;
        margin-top: -28px;
    }

    .fnehd-option-box {
        max-width: 100% !important;
        flex: auto;
        padding: 10px 0px 5px 0px;
    }

    .toggleOn {
        margin: -0.6% 14% 0 9%;
    }

    .navbar .fnehd-notification {
        position: absolute;
        top: 20px;
    }

    .toggle-theme {
        padding-top: 0;
        margin-left: 9%;
        position: absolute;
        margin-top: -14px;
    }

    .notify-mobile {
        margin-left: 150px;
        position: absolute;
        margin-top: -14px;
    }

    .mobile-top {
        margin-top: 5px;
    }

    /* Small Modal */
    .fnehd-modal-sm {
        width: 100% !important;
        margin: auto !important;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 0 !important;
        width: 100vw;
        height: 100vh;
        background-color: #434343;
    }

    .modal-content {
        padding: 10px 10px;
    }

    /** panel tabs button**/
    .nav-pills {
        width: 100% !important;
        margin: auto !important;
    }

	.nav .active,
	.nav .active i,
	.nav :hover,
	.nav :hover i {
		color: #ced4e2 !important
	}

	#fnehd-stat-top-users-chart .nav .active,
	#fnehd-stat-top-users-chart .nav .active i,
	#fnehd-stat-top-users-chart .nav :hover,
	#fnehd-stat-top-users-chart .nav :hover i {
		color: #2271b1 !important
	}

	.dark-edition #fnehd-stat-top-users-chart .nav .active,
	.dark-edition #fnehd-stat-top-users-chart .nav .active i,
	.dark-edition #fnehd-stat-top-users-chart .nav :hover,
	.dark-edition #fnehd-stat-top-users-chart .nav :hover i, 
	.dark-edition .nav .active,
	.dark-edition .nav .active i,
	.dark-edition .nav :hover,
	.dark-edition .nav :hover i {
		color: #fff !important;
	}

    #toggleSmtpPass {
        margin: -8% 0 0 84%;
        position: absolute !important;
        cursor: pointer;
    }

    /** Settings Panel Modal Content styles  **/
    .setContent {
        max-width: 100% !important;
        margin: 1.75rem auto;
    }

    #fnehd-stat-top-payers-chart, #fnehd-stat-top-earners-chart {
        height: 390px;
        width: 100%;
    }

    .profile-image-modal {
        border-radius: 50%;
        margin-left: 19%;
        margin-right: auto;
    }

    .profile-image-profile {
        border-radius: 50%;
        margin-left: 23%;
        margin-right: auto;
        margin-top: 12%;
        position: relative;
    }

    .shipment-detail {
        margin: auto;
        padding-left: 0;
    }

    .track-results-pc {
        display: none;
    }

    .fnehd-track-results-mobile {
        display: block;
    }

    /*select action dataTable*/
    .fnehd-tbl-action-btn {
        margin: -15% 0 0 55%;
        padding: 7px 10px !important;
    }

    .btnslctpend {
        margin: -18.3% 0 0 50% !important;
    }

    .fnehd-selected {
        margin: -7% 0 0 5%;
        position: absolute;
    }

    .fnehd-selected2 {
        margin: -6% 0 0 7%;
        position: absolute;
    }

    #track-list-actions2SA,
    #track-list-actionsSA,
    #track-list-actions,
    #track-list-actions2,
    #track-list-actions3,
    #track-list-actions4 {
        padding: 6px 10px !important;
        border-radius: 5px;
    }

    .main-foot {
        text-align: center !important;
        float: none !important;
    }

    .fnehd-main-panel {
        padding: 0 5px;
    }

    .fnehd-main-panel > .content {
        margin-top: 70px !important;
    }

    .folded #wpcontent {
        margin-left: -10px;
		padding-left: 0px;
    }
	
	  .auto-fold #wpcontent {
		padding-left: 0;
	  }

    html #wpadminbar {
        padding-right: 5px;
        padding-left: 5px;
    }

    #wpadminbar {
        z-index: 2;
    }

    .progress {
        width: 80%;
    }

    .percent {
        top: 21.5%;
    }

    .sidebar {
        top: 5%;
    }
	
	.sidebar[data-background-color="default"] {
	  margin-top: 5%;
	  border-top: none;
	}
}

@media screen and (min-width: 601px) {
    /*For Big Phones & Small Tablets*/

    /** Menu bar**/
    .dark-edition .navbar .fnehd-notification {
        right: -6px;
        margin-top: 0px;
    }

    .navbar .fnehd-notification {
        position: absolute;
        top: -8px;
        right: -7px;
    }

    .toggle-theme {
        padding-top: 0;
        margin-left: 300px;
        position: absolute;
        margin-top: -14px;
    }

    .notify-mobile {
        margin-left: 420px;
        position: absolute;
        margin-top: -14px;
    }

    .mobile-top {
        margin-top: 5px;
    }

    /*Tracking Result page*/
    .shipment-detail {
        margin: auto;
        position: relative;
    }

    .custom-fields-results {
        padding-top: 0px;
    }

    /*select action dataTable*/
    .fnehd-tbl-action-btn {
        margin: -9.2% 0 0 25%;
    }

    .folded #wpcontent {
        margin-left: -10px;
    }
}

@media screen and (min-width: 768px) {
    /*For Big Tablets & Small Laptops*/

    /*select action dataTable*/
    .fnehd-tbl-action-btn {
        margin: -8% 0 0 25%;
    }

    /*Tracking Result page*/
    .shipment-detail {
        margin: -162% 0 0 50%;
    }

    .custom-fields-results {
        padding-top: 200px;
    }

    .fnehd-main-panel {
        padding: 0 5px;
    }

    .folded #wpcontent {
        margin-left: -10px;
    }
}

@media screen and (min-width: 991px) {
    /*For Mid-Sized Laptops | Default Sreen Styles*/

    .fnehd-tab-pills {
        padding-left: 35%;
    }

    .dark-edition .navbar .fnehd-notification {
        right: 10px;
    }

    .navbar .fnehd-notification {
        right: 8px;
    }

    .fnehd-sa-profile-edit-btn {
        width: 15%;
    }

    .shipment-detail {
        margin: -120.5% 0 0 50%;
    }

    .custom-fields-results {
        padding-top: 100px;
    }

    .folded #wpcontent {
        margin-left: 17px;
    }

    .fnehd-main-panel {
        padding: 15px 15px 30px 15px;
    }

    .percent {
        top: 42.6%;
    }

    .sidebar-mini .sidebar,
    .sidebar-mini .sidebar .sidebar-wrapper {
        width: 90px;
    }

    .sidebar-mini .sidebar:hover {
		width: 260px;
		z-index: 101;
		border: none;
		top: 35px;
  
    }
	
	.fnehd-shelter-item {
        margin-left: 10rem;
    }
	
    .fnehd-shelter-item .shelter-date {
        position: absolute;
        left: -10rem;
        width: 7.5rem;
        text-align: right;
    }
	
    .fnehd-shelter-item .shelter-date span {
        display: block;
    }
	
    .fnehd-shelter-item .shelter-content {
        padding: 0;
        background-color: transparent;
    }
	
	
	.table-responsive {
	  overflow-x: inherit;
	}
}

@media screen and (min-width: 1080px) {
    /*For Large Laptops*/

    /*select action dataTable*/
    .fnehd-tbl-action-btn {
        margin: -6% 0 0 25%;
    }

    .folded #wpcontent {
        margin-left: 17px;
    }
}

@media screen and (min-width: 1280px) {
    /*For Big TV's (HD Screens) */

    /*select action tracking table*/
    .fnehd-tbl-action-btn {
        margin: -6% 0 0 18%;
    }
}

@media screen and (min-width: 1440px) {
    /*Other Big Screens (FHD)*/

    /*select action tracking table*/
    .fnehd-tbl-action-btn {
        margin: -4% 0 0 15%;
    }

    .fnehd-selected {
        margin: -1.7% 0 0 1%;
        position: absolute;
    }

    .shipment-detail {
        margin: -106% 0 0 50%;
    }
}

@media screen and (min-width: 1920px) {
    /*For Projectors or Higher Resolution Screens (Full HD)*/

    /*select action tracking table*/
    .fnehd-tbl-action-btn {
        margin: -3.5% 0 0 10%;
    }
    .fnehd-selected {
        margin: -1.5% 0 0 1%;
        position: absolute;
    }

    .fnehd-selected2 {
        margin: -1% 0 0 1%;
        position: absolute;
    }
}

@media screen and (min-width: 3840px) {
    /*For 4K Displays (Ultra HD)*/

    /*select action dataTable*/
    .fnehd-tbl-action-btn {
        margin: -1.6% 0 0 5%;
    }

    .fnehd-selected {
        margin: -0.7% 0 0 0.7%;
        position: absolute;
    }

    .fnehd-selected2 {
        margin: -1% 0 0 1%;
        position: absolute;
    }

    .folded .sidebar {
        top: 1%;
    }

    .folded .navbar.navbar-absolute {
        width: 100%;
        left: auto;
    }

    .footer {
        width: 101%;
        left: -0.8%;
    }
}
